{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Chat Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>

    <div class="container">
        <h2>Login Form</h2>
        <form method="post">
            {% csrf_token %}
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
            <label>
                <a href="{% url 'register' %}">I don't have an account</a>
            </label>
        </form>
    </div>

</body>
</html>
